* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

/* formatting */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

li a{
  color: #76787D;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}


/* colors */

.white {
  color: white;
}


/* utility */

.section_title {
  color: white;
}
.section_subtitle {
  color: #76787D;
}

.title_nosub {
  margin-bottom: 20px;
}
.title_sub {
  margin-bottom: 5px;
}

.round {
  border-radius: 50%;
}


/* generic */

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}


/* main nav */

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100%;
  background: #000;
  padding: 20px;
}
.main-nav-header {
  background-color: #000;
}
.main-nav-header .nav-menu i {
  font-size: 1.5em;
}
.main_nav_logo .big_logo, .xs_logo {
  height: 40px;
  margin-bottom: 35px;
}
.main_nav_logo .xs_logo {
  display: none;
}

.nav_menu_active {
  margin-left: -20px;
  padding-left: 19px;
  color: #D2D2D2;
  border-left: 2px solid #ADFF2F;
}

.nav_menu_active a {
  color: #D2D2D2;
}

.nav-menu li {
 padding-top: 5px;
 padding-bottom: 5px;
}
.nav-menu li a:hover{
  color: white;
}

.nav_img{
  vertical-align: middle;
  filter: grayscale(1);
  width: 30px;
}

.playlist-title {
  padding-bottom: 15px;
}
.playlist-title h3{
  padding-top: 30px;
  padding-bottom: 10px;
}
.playlist-title h4{
    display: inline;
    margin-left: 5px;
}

.playlist-section:hover h4,
.playlist-section:hover i {
  color: white;
}

.icon_playlist {
  position: relative;
  font-size: 2.2em;
  color: #76787D;
  vertical-align: middle;
}

.main-nav-main {
  height: 150px;
  overflow-y: auto;
  flex-grow: 2;
}

.playlist li {
  color: #76787D;
  padding: 5px 0;
  font-size: 0.9em;
}
.playlist li:hover {
  color: white;
}

.main-nav-footer h4{
  font-size: 0.9em;
  border-bottom: 2px solid;
  padding-bottom: 5px;
}
.main-nav-footer h4:hover,
.main-nav-footer h4:hover span{
  color: white;
}
.main-nav-footer h3{
  margin-top: 5px;
  line-height: 35px;
}
.main-nav-footer h3 span{
  color: white;
  vertical-align: middle;
}

.profile {
  border-radius: 50%;
  padding: 2px;
  background-color: #8F8F8F;
}


@media screen and (max-width: 750px) {

  .main-nav {
    width: 50px;
    padding: 10px;
  }

  .playlist, .playlist-title {
    display: none;
  }

  .xs_logo {
    width: 30px;
    margin-bottom: 5px
  }

  .main_nav_logo .xs_logo {
    display: block;
  }
  .main_nav_logo .big_logo, span {
    display: none;
  }
  .main-nav-footer h4{
    border-bottom: none;
    text-align: center;
  }
}


/* main content */

.main-content {
  padding-top: 90px;
  padding-left: 20px;
  width: calc(100% - 250px);
  height: 100%;
  background-color: #141922;
  overflow-y: scroll;
}
.main_menu {
  margin-top: 10px;
  margin-bottom: 35px;
}
.main_menu_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_menu_ul li {
  padding: 0 10px;
}
.main_menu_ul li a:hover {
  color: white;
}
.main_menu-active a:after {
  content:"";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ADFF2F;
  margin: auto;
}
.main_menu_ul li a {
  font-size: 0.8em;
  color: #76787D;
}

@media screen and (max-width: 750px) {

  .main-content {
    width: calc(100% - 50px);
  }
}


/* sezione righe album */

.container_album_row{
  display: flex;
  margin: 20px 0;
}
.container_album {
  flex-basis: calc(100% / 6);
  padding-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.container_album:hover .overlay{
  display: block;
}


.album_container .album_img img {
  display: block;
  width: 100%;
}
.album_container .album_img {
  position: relative;
}
.album_container .overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0%, 0%, 0%, 0.5);
}
.album_container .overlay .icon_play{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
}
.album_title {
  color: white;
  padding-bottom: 10px;
}
.album_title h3{
  font-size: 1em;
  padding-top: 10px;
}
.album_subtitle {
  color: #76787D;
}
.album_subtitle h4{
  font-size: 0.8em;
}

/* barra superiore */

.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 250px);
  height: 90px;
  padding: 5px;
  z-index: 1;
  background-color: rgba(3%, 4%, 7%, 0.5);
  padding: 10px;
}

.btn {
  display: inline-block;
  font-size: 20px;
  border: 1px solid white;
  color: white;
  font-size: 0.9em;
  border-radius: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  transition: transform 3s;
}
.btn:hover {
  transform: scale(1.2);
}

@media screen and (max-width:970px){
  .container_album_row{
    display: flex;
    flex-wrap: wrap;
  }
  .container_album {
    flex-basis: calc(100% / 4);
  }
}

@media screen and (max-width:750px){

  .container_album_row{
    margin: 0;
  }

  .call-to-action {
    width: calc(100% - 50px);
  }

  .album_row {
    padding-top: 20px;
  }

  .container_album_row{
    display: flex;
    flex-wrap: wrap;
  }
  .container_album {
    flex-basis: calc(100% / 2);
  }
}

/* media query per l'altezza */

@media screen and (max-width:750px) and (max-height: 350px) {

  .call-to-action  {
    display: none;
  }
}

/* footer */

.footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

.player {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  padding: 0 10px;
}


/* footer left */

.info {
  width: 20%;
  display: flex;
  flex-wrap: nowrap;
}
.info img {
  width: 50px;
  vertical-align: middle;
}

.info_title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.info_title:hover .main_title {
  color: white;
  text-decoration: underline;
}

.info_icon i:hover {
  color: white;
}

.container_icon{
  display: inline-block;
}

.icon-first {
  padding-left: 20px;
  padding-right: 5px;
}
.footer-icon {
  color: #76787D;
}


/* footer center */

.reader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.reader_icons {
  height: 40px;
  text-align: center;
  transition: transform 3s;
}
.footer_icons i:hover {
  transform: scale(1.3);
}
.footer_icons i {
  font-size: 1em;
  color: white;
  padding-left: 10px;
}

i.bigger {
  font-size: 1.5em;
  padding-right: 10px;
  padding-left: 20px;
}

.riprodution_bar {
  width: 100%;
}
.riprodution {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.riprodution-time {
  width: 100%;
  border-bottom: 2px solid #76787D;
}
.riprodution-effective {
  width: 25%;
  border-bottom: 2px solid white;
  margin-top: -2px;
}
.riprodution-circle {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: -3px;
  left: 30%;
}
.riprodution_bar:hover .riprodution-circle {
  display: block;
}
.riprodution_bar:hover .riprodution-effective {
  border: 1px solid #ADFF2F;
}
.riprodution .num {
  padding: 0 20px;
  font-size: 0.8em;
  color: white;
}


/* footer right */

.volume {
  width: 20%;
  display: flex;
  flex-wrap: nowrap;
}
.volume_icons {
  display: flex;
  flex-wrap: nowrap;
}

.audio {
  width: 100%;
}

.effective_audio {
  width: 80%;
}

.circle_audio {
  margin-left: 50%;
}

.volume_icons {
  padding-right: 20px;
}

@media screen and (max-width: 970px){

  .info_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-icon {
    padding: 0 3px;
  }

}

@media screen and (max-width: 750px){

  .volume {
    width: 25%;
  }

  .footer_icons i {
    font-size: 0.8em;
    color: white;
    padding-left: 10px;
  }

  i.bigger {
    font-size: 1.3em;
    padding-right: 10px;
    padding-left: 20px;
  }

  .riprodution .num {
    padding: 0 5px;
    font-size: 0.5em;
    color: white;
  }

}
